div.d-grid.gap-5
{
    align-items: left;
    width:480px;
    margin-top:25%;
    margin-left:5%;
    width:40%;
}
div.d-grid.gap-5 button.btn-primary
{
    height:130%;
}

a.Choice
{
    text-align: center;
}


