hr.tophr {
    width: 100%; /* Adjusts the width of the <hr> to 50% of its container */
    margin: auto; /* Centers the <hr> within its container */
    border-top: 5px solid white; /* Optional: sets the color and height of the line */
    opacity: 100%;
}

div.formcontainer {
    background-color: transparent;
    margin-top: 0%;
    border-radius: 10px;
    overflow: auto;
}

div.formcontainer > form {
    margin-top: 0;
    padding-top: 10 ;
}

.lefttriangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 90vh 120px 0 0;
    border-color: rgb(91, 120, 134) transparent transparent transparent;
    position: absolute;
}

.rightriangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 120px 90vh 0;
    border-color: transparent rgb(91, 120, 134) transparent transparent;
    position: absolute;
    right: 0%;
}